{
  "presets": [
    ["env", {
      "targets": {
        "uglify": true,
        "ie": 8
      },
	  "modules": false
    }]
  ],
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "useBuiltIns": false
        }]
      ]
    }
  }
}
